.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: #c4c7c9 !important;
    border-radius: 8px !important;
  }
  
  .MuiSelect-select {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 10px !important;
    padding-right: 35px !important;
  }
  